
<table width="650" align="center" border="0" cellpadding="0" cellspacing="0" bgcolor="#000"  style=" font-size: 14px; color:#FFF;  font-family: 'Raleway', sans-serif; font-weight:300" >
  <tr>
    <td width="200" height="60"><img src="{{imgserver}}/globant.png" width="176" height="47" style="display: block" /></td>
    <td width="450" style=" font-size: 18px;  font-family: 'Raleway', sans-serif; font-weight:300; letter-spacing:2px;"><strong>2017</strong></td>
  </tr>
</table>
<table style="font-family: 'Raleway', sans-serif; color:#FFF; text-align:center; font-weight:900" align="center" width="649" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="650" align="center" valign="bottom" bgcolor="#00BFC7"><img src="http://communications.globant.com/Comm/Champions/images/header2.jpg" width="650" height="347" style="display:block"></td>
  </tr>
  <tr>
    <td  valign="middle" bgcolor="#000" style="font-family:'Raleway', sans-serif;font-size:16px; font-weight:300; padding:20px 30px 20px 30px; line-height:25px;">Estamos trabajando para mejorar <strong>Globant</strong> y por eso de vez en cuando te haremos dos simples preguntas (tienes tiempo para responder hasta<br />el <strong>{{deadline}}</strong>, inclusive):</td>
  </tr>
  <tr>
    <td valign="middle" bgcolor="#004562" style="font-family: 'Raleway', sans-serif;font-size:14px; font-weight:300; line-height:22px; padding:15px 50px 15px 50px;"><form name="m_6222944983307279532_m_-1042580817556485000_14cd8a21d0251290_14c5783aaded7c14_feedback" action="{{submit_url}}{{token}}" method="post" target="_blank">
         <span style="padding-right:5px;color:#c1d72e;font-size:20px;font-family:&quot;Trebuchet MS&quot;"> <strong>&gt;</strong> </span>¿Qué tan contento te sientes en tu proyecto?
        <fieldset style="padding-left:30px;border-top-width:1px;border-style:solid none;border-top-color:rgb(189,189,189);border-bottom-width:1px;border-bottom-color:rgb(189,189,189);padding:5px">
          <table align="center" cellspacing="0" cellpadding="5" style="color:#fff;font-size:12px;font-weight:bold">
            <thead>
              <tr align="center">
                <td></td>
                <td> 1</td>
                <td> 2</td>
                <td> 3</td>
                <td> 4</td>
                <td> 5</td>
                <td></td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td colspan="7" style="border-top:1px solid rgb(153,153,153);height:1px;padding:0"></td>
              </tr>
              <tr></tr>
              <tr>
                <td style="text-transform:capitalize"> nada contento</td>
                <td><input type="radio" style="clear:right" value="1" name="delivery"></td>
                <td><input type="radio" style="clear:right" value="2" name="delivery"></td>
                <td><input type="radio" style="clear:right" value="3" name="delivery"></td>
                <td><input type="radio" style="clear:right" value="4" name="delivery"></td>
                <td><input type="radio" style="clear:right" value="5" name="delivery"></td>
                <td style="text-transform:capitalize"> muy contento</td>
              </tr>
            </tbody>
          </table>
        </fieldset>
        <br>
        <span style="padding-right:5px;color:#c1d72e;font-size:20px;font-family:&quot;Trebuchet MS&quot;"><strong>&gt;</strong> </span>¿Qué tan contento está el cliente con los resultados de tu proyecto?
        <fieldset style="border-top-width:1px;border-style:solid none;border-top-color:rgb(189,189,189);border-bottom-width:1px;border-bottom-color:rgb(189,189,189);padding:5px">
          <table align="center" cellspacing="0" cellpadding="5" style="color:#fff;font-size:12px;font-weight:bold">
            <thead>
              <tr align="center">
                <td></td>
                <td> 1</td>
                <td> 2</td>
                <td> 3</td>
                <td> 4</td>
                <td> 5</td>
                <td></td>
              </tr>
            </thead>
            <tbody style="border-top-width:1px;border-top-style:solid;border-top-color:rgb(153,153,153)">
              <tr>
                <td colspan="7" style="border-top:1px solid rgb(153,153,153);height:1px;padding:0"></td>
              </tr>
              <tr></tr>
              <tr>
                <td style="text-transform:capitalize"> nada contento</td>
                <td><input type="radio" style="clear:right" value="1" name="feeling"></td>
                <td><input type="radio" style="color:rgb(153,153,153);clear:right" value="2" name="feeling"></td>
                <td><input type="radio" style="color:rgb(153,153,153);clear:right" value="3" name="feeling"></td>
                <td><input type="radio" style="color:rgb(153,153,153);clear:right" value="4" name="feeling"></td>
                <td><input type="radio" style="clear:right" value="5" name="feeling"></td>
                <td style="text-transform:capitalize"> muy contento</td>
              </tr>
            </tbody>
          </table>
        </fieldset>
        <br>
        <span style="padding-right:5px;color:#c1d72e;font-size:20px;font-family:&quot;Trebuchet MS&quot;"> <strong>&gt;</strong> </span>Si lo deseas déjanos tu comentario
        <span class="HOEnZb">  <br />  <br />
        <textarea style="color:rgb(68,68,68);border:none;width:100%;background-color:rgb(250,250,250);font-family:arial;font-size:14px" rows="5" name="comment" cols="70"></textarea>
        <br />  <br />
        <input type="submit" style="background-color:#c1d72e;border:none;padding:6px 20px;margin-bottom:15px; color:#FFF; font-weight:bold" value="ENVIAR">
        </span>
      </form>
  <tr>
    <td height="26" align="center" valign="top"><table align="center" width="649" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td height="58"><table align="center" width="650" border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td width="650" align="center" bgcolor="#00BFC7" style="font-family: Raleway, Helvetica, sans-serif;color: #666;font-size: 10px; padding: 5px 30px 5px 5px;"></td>
              </tr>
              <tr>
                <td height="104" align="center" valign="middle" bgcolor="#00BFC7" style="font-family:Raleway, Helvetica, sans-serif;color: #666;font-size: 10px; padding: 15px 30px 16px 30px;line-height:16px;"><table width="293" border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                      <tr>
                        <td width="50" height="36" align="center" valign="bottom"><a href="https://www.facebook.com/Globant" target="_blank"><img src="http://communications.globant.com/Comm/footer2017/facebook2017.png" alt="facebook" width="35" height="35" /></a></td>
                        <td width="50" height="36" align="center" valign="bottom"><a href="http://www.twitter.com/globant" target="_blank"><img src="http://communications.globant.com/Comm/footer2017/twitter2017.png" alt="twitter" width="35" height="35" /></a></td>
                        <td width="50" height="36" align="center" valign="bottom"><a href="http://www.youtube.com/Globant" target="_blank"><img src="http://communications.globant.com/Comm/footer2017/youtube2017.png" alt="youtube" width="35" height="35" /></a></td>
                        <td width="50" height="36" align="center" valign="bottom"><a href="https://www.linkedin.com/company/globant" target="_blank"><img src="http://communications.globant.com/Comm/footer2017/linkedin2017.png" alt="linkedin" width="35" height="35" /></a></td>
                        <td width="50" height="36" align="center" valign="bottom"><a href="https://www.instagram.com/globantpics/" target="_blank"><img src="http://communications.globant.com/Comm/footer2017/instagram2017.png" alt="instagram" width="35" height="35" /></a></td>
                        <td width="50" height="36" align="center" valign="bottom"><a href="http://www.globant.com/" target="_blank"><img src="http://communications.globant.com/Comm/footer2017/globant2017.png" alt="globant" width="35" height="35" /></a></td>
                      </tr>
                    </tbody>
                  </table>
                  <br>
                  <span style="font-family: Raleway, Helvetica, sans-serif;color: #fff;font-size: 11px; font-weight:300; text-align:center"> (c) 2017 Globant. All rights reserved </span> <br>
                  <br></td>
              </tr>
            </table></td>
        </tr>
      </table></td>
  </tr>
</table>
</body>
</html>
